.container {
    max-width: 500px;
    margin: 30px auto; /* O 1º valor é em cima e embaixo e o segundo é pros lados */
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    padding: 30px;
    border-radius: 10px;

}